.userPage {
    display: flex;
    position: absolute;
    width: 100%;
    height: 800px;
    background: linear-gradient(90deg, rgba(124,180,233,0.5032387955182073) 26%, rgba(177, 176, 176, 0.7) 100%);
    font-family: "Russo One";
}

.profileIcon {
    display: flex;
    background: linear-gradient(90deg, rgba(177, 176, 176, 0.7) 26%, rgba(124,180,233,0.5032387955182073) 100%);
    height: 30%;
    width: 20%;
    margin: 3% 0% 3% 12%;
    border-radius: 30px;
}

.userPhoto {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50%;
    margin: 6% 0% 5% 0%;
}

.userInfo {
    position: relative;
    height: auto;
    width: 100%;
    margin: 6% 5% 5% 0%;
}

.userinfoText {
    margin: 0 0 9% 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
}

.achieves {
    position: relative;
    display: inline-block;
    background-color: rgba(159, 158, 158, 0.44);
    height: 87%;
    width: 60%;
    margin: 3% 12% 3% 3%;
    border-radius: 30px;
}

.titAchieves {
    position: relative;
    color: black;
    font-weight: 300;
    padding: 1px;
    left: 2%
}

.titleAch {
    margin: 3% 9% 3% 9%;
    width: auto;
    background-color: rgba(225, 224, 224, 0.74);
    height: auto;
    border-radius: 7px;
}

.btnEdit {
    cursor: pointer;
    border: none;
    margin-top: 30px;
    width: 18.25%;
    height: 40px;
    font-family: "Russo One";
    font-size: 13pt;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 24%;
    left: 12%;
    transform: translate(-0%, -24%);
}

.userLogin {
    color: #7e7d7d;
    font-family: Roboto;
    position: absolute;
    top: 31.5%;
    left: 13%;
    transform: translate(-0%, -32%);
}

.prizes {
    display: table;
    margin-left: 12%;
    margin-right: 12%;
}

.prize {
    display: table-cell;
    width: 200px;
    height: 200px;
}

.prize h4 {
    position: relative;
    text-align: center;
    width: 180px;
    background-color: #ababab;
    border-radius: 10px;
}

.prizePic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
}
